*
    font-family: 'Oswald', sans-serif
    


header
    min-height: 650px
    widows: 100%
    background: url('../img/header_bg.png') center center/cover no-repeat
    .header_top_info
        padding-top: 21px
        .off_pr
            font-weight: 500
            font-size: 12px
            color: #FFFFFF
        .off_pr_name
            padding-top: 7px
            font-weight: 500
            font-size: 18px
            color: #FFFFFF
        .header_number
            padding-left: 22px
            font-weight: bold
            font-size: 18px
            display: flex
            align-items: flex-end
            text-align: right
            color: #FFFFFF
        .header_top_button
            width: 153px
            height: 32px
            left: 0px
            top: 0px
            background: #C70101
            margin-left: 14px
            border-radius: 5px
            font-weight: 500
            font-size: 12px
            text-align: center
            text-transform: uppercase
            color: #FFFFFF
    h1
        font-weight: bold
        font-size: 42px
        line-height: 42px
        text-transform: uppercase
        color: #FFFFFF
        margin-top: 91px
    h2
        font-weight: 500
        font-size: 24px
        line-height: 24px
        text-transform: uppercase
        color: #FFFFFF
        margin-top: 17px
    .header_tips
        display: flex
        justify-content: space-between
        margin-right: 110px
        margin-left: 65px
        margin-top: 60px

        .tip1
            margin-left: 24px
        .tip2
            margin-left: 10px
        .tip3
            margin-left: 22px
        .header_tip_info
            font-weight: 500
            font-size: 14px
            line-height: 14px
            display: flex
            text-align: center
            color: #FFFFFF
            margin-top: 20px
    .consultation_button
        font-weight: 500
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        width: 300px
        height: 50px
        background: #C70101
        border-radius: 5px
        margin-top: 65px
    .consultation_or
        font-weight: 500
        font-size: 16px
        line-height: 25px
        display: flex
        align-items: flex-end
        text-align: right
        color: #FFFFFF
        margin-top: 8px
        text-align: right
        margin-left: 135px
        a
            font-weight: 500
            font-size: 16px
            line-height: 25px
            display: flex
            align-items: flex-end
            text-align: right
            text-decoration-line: underline
            text-transform: uppercase
            color: #FFFFFF
            padding-left: 8px

.benefits
    background-color: #F6F6F6
    min-height: 470px
    width: 100%
    .our_benefits
        font-style: normal
        font-weight: bold
        font-size: 30px
        line-height: 30px
        text-align: center
        padding-top: 70px
        color: #0D0D0D
        text-transform: uppercase
    img
        display: block
        margin: 0 auto
        margin: 0 auto
        margin-top: 60px
    .benefits_title
        font-weight: bold
        font-size: 18px
        line-height: 29px
        text-align: center
        color: #0D0D0D
        margin-top: 35px
    .benefits_text
        font-weight: 300
        font-size: 14px
        line-height: 18px
        text-align: center
        color: #0D0D0D
        margin-top: 20px
        a
            text-decoration-line: underline
            color: #FF0000

.consultation
    background: url('../img/consultation_bg.png') center center/cover no-repeat
    min-height: 580px
    padding-top: 100px
    h2
        font-weight: bold
        font-size: 36px
        line-height: 54px
        text-transform: uppercase
        color: #FFFFFF
    h3
        font-weight: 500
        font-size: 20px
        line-height: 30px
        color: #FFFFFF
    input
        width: 300px
        height: 50px
        border-radius: 10px
        background: #FFFFFF
        padding-left: 20px
        display: flex
        flex-direction: column
        margin-top: 17px
        font-size: 14px
        color: #4B4B4B
    button
        width: 300px
        height: 55px
        background: #C70101
        font-weight: 500
        font-size: 16px
        line-height: 25px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        margin-top: 19px
        border-radius: 9px



.slider-section
    min-height: 742px
    .slider
        position: relative
        min-height: 742px
        .slide-img
            margin: 0 auto
            padding-top: 11%
            transition: all ease 2s
            opacity: 1
        .anim
            opacity: 0.4
        .arrow-button-left
            position: absolute
            top: 50%
            left: 15%
            cursor: pointer
        .arrow-button-right
            position: absolute
            top: 50%
            right: 16%
            cursor: pointer

.catalog-buttons
    padding-top: 100px
    min-height: 229px
    h2
        font-size: 40px
        text-align: center
        text-transform: uppercase
        color: #0D0D0D
    .tabs
        padding-top: 46px
        display: flex
        flex-direction: row
        justify-content: center
        padding-bottom: 25px

        .tab1
            margin-right: 9px
            width: 220px
            height: 50px
            background: rgba(0, 0, 0, 0.0001)
            border: 3px solid #D0D0D0  
            cursor: pointer
            -webkit-transform: skew(339deg)
            -moz-transform: skew(339deg)
            -o-transform: skew(339deg)
            span
                left: 22%
                top: 14%
                position: absolute
                font-size: 21px
                text-transform: uppercase
                color: #6B6B6B
                -webkit-transform: skew(21deg)
                -moz-transform: skew(21deg)
                -o-transform: skew(21deg)
                user-select: none
        .tab2
            margin-right: 9px
            width: 220px
            height: 50px
            background: rgba(0, 0, 0, 0.0001)
            border: 3px solid #D0D0D0  
            cursor: pointer
            -webkit-transform: skew(339deg)
            -moz-transform: skew(339deg)
            -o-transform: skew(339deg)
            span
                left: 31%
                top: 14%
                position: absolute
                font-size: 21px
                text-transform: uppercase
                color: #6B6B6B
                -webkit-transform: skew(21deg)
                -moz-transform: skew(21deg)
                -o-transform: skew(21deg)
                user-select: none
        .tab3
            margin-right: 9px
            width: 220px
            height: 50px
            background: rgba(0, 0, 0, 0.0001)
            border: 3px solid #D0D0D0  
            cursor: pointer
            -webkit-transform: skew(339deg)
            -moz-transform: skew(339deg)
            -o-transform: skew(339deg)
            span
                left: 18%
                top: 14%
                position: absolute
                font-size: 21px
                text-transform: uppercase
                color: #6B6B6B
                -webkit-transform: skew(21deg)
                -moz-transform: skew(21deg)
                -o-transform: skew(21deg)
                user-select: none
        .tab-click
            background: #C70101
            span
                color: #FFFFFF


.row
    display: flex
    flex-direction: row
    padding-top: 25px
    max-width: 970px
    margin: 0 auto

.card
    width: 303px
    height: 442px
    border: 2px solid #E8E8E8
    margin-right: 20px
    margin-top: 20px
    .show
        display: block
        min-height: 340px
        .card-img
            height: 200px
            width: 140px
            margin-left: 24%
        h3
            font-weight: bold
            font-size: 16px
            text-align: center
            color: #0D0D0D
            padding-top: 15px
        .card-title
            font-weight: 300
            font-size: 14px
            line-height: 22px
            text-align: center
            color: #0D0D0D
            padding-top: 15px
        .more
            font-weight: 500
            font-size: 14px
            line-height: 14px
            text-align: center
            text-decoration-line: underline
            color: #C70101
            cursor: pointer
            user-select: none
    .hide
        min-height: 340px
        display: none
        padding-top: 16px
        ul
            font-weight: 300
            font-size: 17px
            line-height: 21px
            color: #555555
            li
                margin-top: 8px
        .back-btn
            font-weight: 500
            font-size: 14px
            text-align: center
            text-decoration-line: underline
            color: #C70101
            cursor: pointer
            margin-top: 75px
    .delimiter
        width: 260px
        height: 1px
        left: 22px
        top: 359px
        background: #E8E8E8
        justify-content: center
        margin-top: 17px
    .footer-card
        display: flex
    .prices
        padding-top: 24px
        .mini-price
            font-weight: 300
            font-size: 14px
            line-height: 14px
            text-decoration-line: line-through
            color: #555555
        .big-price
            font-weight: bold
            font-size: 20px
            color: #050505
            padding-top: 2px
    .buy
        margin-top: 25px
        margin-left: 40px
        width: 135px
        height: 44px
        background: #C70101
        border-radius: 5px
        font-weight: 500
        font-size: 15px
        text-transform: uppercase
        color: #FFFFFF

        
        


